html,
body {
  background: rgb(36, 21, 0);
  
}

.title h1{
  position: relative;
  color: white;
  letter-spacing: 5px;
  text-align: center;
  /* margin-left: 35%; */
  font-size: 70px;
  margin-top: 30px;
}

.modeOfTravel {
  margin-left: 100px;
  color: #fff;
}

#directionsPanel{
  background-color: #fff;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}