body {
background: rgb(200, 230, 255);
}
.title h1 {
  color: white;
  letter-spacing: 5px;
  padding: 1.5rem 2.5rem;
  text-align: center;
  border-radius: 20px;
  /* margin-left: 75px;
  margin-right: 75px; */
  font-size: 70px;
  /* margin-top: 30px; */

  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);

}
.title img {
  position: absolute;
  /* margin-left: 595px; */
  /* margin-top: 28px; */
}
.input {
  position: relative;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: Black;
  font-family: 'Great Vibes';
  font-size: 35px;
}

/* .container {
  margin-top: 300px;
  margin-right: 0px;
  margin-left: 5rem;
} */

.searchTerm {
  width: 100%;
  border: 3px solid #b0ada0eb;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 20px;
  letter-spacing: 4px;
}

.searchTerm:focus {
  color: #b0ada0eb;
}

h2 {
  color: #3d3d3deb;
}

.searchButton {
  width: 70px;
  height: 50px;
  border: 1px solid #b0ada0eb;
  background: #b0ada0eb;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.container {
  margin-bottom: 35px;
  margin-top: 25px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 5px;
  margin-top: 350px;
}

.divLeft {
  display: inline-block;
  width: 20%;
  margin-left: 500px;
}

.divLeft {
  display: inline-block;
  width: 20%;
}

.maps {
  display: inline-block;
}

/* .container {
  margin-top: 300px;
  margin-right: 0px;
  margin-left: 5rem;
} */
